<div class="grid-x">
  <div class="large-12 cell">
    <h3>Категории магазина</h3>
    <a class="button" href="<%= books_path %>">Книги</a>
    <a class="button" href="<%= stationerys_path %>">Канцелярские товары</a>
  </div>
</div>