<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h2 align="center">Категории магазина</h2>
  </div>

  <div class="large-6 cell">
    <a class="button medium expanded" href="<%= stationerys_path %>">Канцелярские товары</a>
    <a class="button secondary medium expanded" href="<%= lists_path %>">Списки покупок</a>
  </div>

  <div class="large-6 cell">
    <a class="button medium expanded" href="<%= books_path %>">Книги</a>
    <a class="button secondary medium expanded" href="<%= statistics_path %>">Статистика книг</a>
  </div>
</div>