<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>Список книг</h3>
  </div>

  <div class="large-12 cell">
    <table>
      <thead>
        <tr>
          <th>Дата прочтения</th>
          <th>Название книги</th>
        </tr>
      </thead>
  </div>

  <div class="large-12 cell">
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.date %></td>
        <td><%= book.author %> "<%= book.name %>"</td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="large-6 cell">
    <a href="new" class="button">Добавить книгу</a>
    <a href="statistics" class="button">Статистика</a>
  </div>
</div>