<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>Список книг</h3>
  </div>

  <div class="large-12 cell">
    Данные из локальной переменной: <%= data %>
  </div>

  <div class="large-12 cell">
    Данные из переменной экземпляра: <%= @some_books %>
  </div>

</div>