<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h4>Прочитаные книги в <%=@year%> году</h4>
  </div>

  <div class="small-5 cell">
    <table>
      <thead>
        <tr>
          <th>Месяц</th>
          <th>Количество прочитанных книг</th>
        </tr>
      </thead>
  </div>



  <div class="large-12 cell">
    <a href="statistics" class="button"> Обратно к статистике </a>
  </div>
  <div class="large-12 cell">
    <a href="/" class="button"> К списку книг </a>
  </div>
</div>