<div class="grid-x grid-margin-x">
  <h3>Добавление списка покупок</h3>
</div>

<% form({ method: :post },{ obj: @parameters }) do |f| %>
  <div class="grid-x grid-margin-x">
    <div class="large-12 cell">
      <%= f.input(:name, type: :text, label: 'Название списка покупок', placeholder: 'Список 1')%>
    </div>
    <div class="large-12 cell">
          <%= f.button(value: "Добавить", class: "button") %>
          <a class="button secondary" href="<%=  lists_path %>">Отмена</a>
    </div>
    </div>
<% end %>